###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:himlar_dp_prep

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar

# Openstack settings
horizon_url = http://10.0.3.11
keystone_url = http://10.0.3.11:5000/v3
admin_pw = xxxxxxxx
# Dataporten settings
# Find them in Connect Dashboard/<this client>/OAuth details/OAuth Client credentials
oauth_client_id = nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn
oauth_client_secret = nnnnnnnn-nnnn-nnnn-nnnn-nnnnnnnnnnnn

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, himlar_dp_prep

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_himlar_dp_prep]
level = DEBUG
handlers =
qualname = himlar_dp_prep

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
